<div class="container col-6">
  <div class="text-center m-2">
    Todo app
  </div>
  <div>
      <input [(ngModel)]="newTask" type="text" value="" class="form-control">
       <button (click)="addToList()" [disabled]="newTask < 1" class="btn w-100 btn-block mt-2  btn-primary"> ADD TASK </button>
  </div>

  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" (click)="filter(false)"  class="btn btn-secondary">filter by uncompleted</button>
    <button type="button" (click)="filter(true)" class="btn btn-secondary ml-2 mr-2">Filter by completed</button>
    <button type="button" (click)="items = []" class="btn btn-secondary">clear</button>
  </div>
  <ul class="list-group mt-2">
    <li  class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let x of items; let index = index;">
      <span [ngClass]="{'completed': x.status}"> {{x.newTask}} </span>
      <div>
       <button type="button" class="btn btn-primary mr-2 btn-sm"(click)="completTask(index)">
       completed
     </button>
     <button type="button" class="btn btn-primary btn-sm"(click)="deleteTask(index)">
      delete
    </button>
      </div>

    </li>
 </ul>
</div>
